<div class="formComponentContainer" style="width: 100%" [formGroup]="userForm" (ngSubmit)="saveUser()">



    <!-- Start:user form component Head part -->
    <div class="userFormHead" style="display: flex; justify-content: space-between;">
        <span>
            <h2>Users</h2>
        </span>


        <div style="display: flex">
            <span class="form-group col-md-8 ">
                <label for="clients">Client</label>
                <select id="clients" class="form-control" >
                    <option selected disabled>Client Name*</option>
                    <option *ngFor="let clientValue of clientName" [value]="clientValue.id">{{clientValue.name}}</option>

                </select>
            </span>

            <!-- toogle button to open form and disable when open -->
            <span>
                <button type="button" class="btn btn-primary mx-3 btn-sm " [disabled]="btnDisabled"
                    style="align-self: flex-start; width: 150px;" (click)="toogleForm()">+ NEW USER</button>
            </span>
        </div>
    </div>

    <!-- end:user form component Head part -->

    <!-- Start:user form -->
    {{this.userForm.value | json}}

    <div class="form" style="border: 1px solid grey; width: 100%;" *ngIf="showForm">
        <form   >
            <div class="form-row" style="display: flex; justify-content: center; flex-wrap: wrap">
                <div class="col">
                    <input type="text" class="form-control" id="firsttName" placeholder="First Name" name="firsttName"
                        formControlName="firstName">
                        <div *ngIf="getValue['firstName'].touched">
                            <span class="text-danger"
                                *ngIf="getValue['firstName'].errors && getValue['firstName'].errors['required']">
                                First-name required
                            </span>
                        </div>
                        <div *ngIf="getValue['firstName']?.errors?.['minlength']" class="text-danger" >
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="getValue['firstName']?.errors?.['maxlength']" class="text-danger" style="color: red;">
                            Name must be at least 8 characters long.
                        </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                        formControlName="lastName">
                        <div *ngIf="getValue['lastName'].touched">
                            <span class="text-danger"
                                *ngIf="getValue['lastName'].errors && getValue['lastName'].errors['required']">
                                Last-name required
                            </span>
                        </div>
                </div>
                <div class="col">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                        formControlName="email">
                        <div *ngIf="getValue['email'].touched">
                            <span class="text-danger"
                                *ngIf="getValue['email'].errors && getValue['email'].errors['required']">
                                Email required
                            </span>
                            <div class="text-danger" *ngIf="getValue['email'].errors?.['email']">Email must be a valid email address</div>
                        </div>
                        
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="contactNo" placeholder="Primary Contact Number"
                        name="contactNo" formControlName="phoneNo">
                        <div *ngIf="getValue['phoneNo'].touched">
                            <span class="text-danger"
                                *ngIf="getValue['phoneNo'].errors && getValue['phoneNo'].errors['required']">
                                Contact number required
                            </span>
                        </div>
                        
                </div>
            </div>


            <div style="display: flex; justify-content:center  ;padding-top: 20px;">

                <div class="form-group col-md-4">

                    <select id="clients" class="form-control" formControlName="clientName">
                        <option  disabled>Client Name*</option>
                        <option *ngFor="let clientValue of clientName" [value]="clientValue.id">{{clientValue.name}}</option>

                    </select>
                    <div *ngIf="getValue['clientName'].touched">
                        <span class="text-danger"
                            *ngIf="getValue['clientName'].errors && getValue['clientName'].errors['required']">
                            Client Name required
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-4">

                    <select id="office" class="form-control" name="office" formControlName="office">
                        <option selected disabled>Office*</option>
                        <option *ngFor="let officeValue of officeDetails" [value]="officeValue.id">{{officeValue.name}}</option>

                    </select>
                    <div *ngIf="getValue['office'].touched">
                        <span class="text-danger"
                            *ngIf="getValue['office'].errors && getValue['office'].errors['required']">
                            Office Details required
                        </span>
                    </div>
                </div>
            </div>


            <div style="display: flex; justify-content: right">
                <button type="button" class="btn btn-danger" (click)="onCancel()">CANCEL</button>
                <button type="submit" class="btn btn-primary mx-3">SAVE</button>

            </div>

        </form>
    </div>

    <!-- end : user form -->
    
    

</div>