{{ this.userForm.value | json }}
<div>
    <p>Employee Registration Form </p>
    <!-- start of user input form -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="on">
        <fieldset>
            <legend>User Input Form</legend>
            <!-- start of personal information input -->
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" formControlName="firstName" placeholder="Enter your first name"  id="firstName" required autofocus><br>
                <div *ngIf="getValue['firstName'].touched"><span *ngIf="getValue['firstName'].errors && getValue['firstName'].errors['required']">First-name required</span></div>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" formControlName="lastName" placeholder="Enter your last name" id="lastName" required><br>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" formControlName="email" id="email" placeholder="Enter your email" required><br>
            </div>
            <div>
                <label for="phone">Enter a phone number:</label>
                <input type="tel" formControlName="phoneNo" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                    required> <br>
            </div>
            <div>
                <label for="DOE">Date Of Employment</label>
                <input type="datetime-local" formControlName="dateOfEmpmt" id="DOE"><br>
            </div>
            <div>
                <label for="gender">Gender</label>
                <input type="radio" formControlName="gender" name="Gender" id="male" checked>
                <label for="male">Male</label>
                <input type="radio" formControlName="gender" name="Gender" id="female">
                <label for="female">Female</label><br>
            </div>
            <div>
                <label for="Depart">Department</label>
                <select name="Depart" id="Depart">
                    <option value="angular">Angular</option>
                    <option value="ML">Machine-Learning</option>
                    <option value="Datascience">Data-Science</option>
                </select><br>
            </div>
            <!--Button to check Validation -->
            <button type="submit" >Submit</button>
            <button type="reset">Reset</button>

        </fieldset>
    </form>

    <!-- user input form -->
</div>