<p>user-form-list works!</p>
<div>
    <input type="search" name="" id="" placeholder="Search">
    <button routerLink="/user-forms/add" class="btn btn-primary mx-3">Add</button>
</div>
<div>
    <table class="mt-3">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Gender</th>
                <th>Date Of Employment</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let myUser of users">
                <td>{{myUser.firstName}}</td>
                <td>{{myUser.lastName}}</td>
                <td>{{myUser.email}}</td>
                <td>{{myUser.phoneNo}}</td>
                <td>{{myUser.gender}}</td>
                <td>{{myUser.dateOfEmpmt}}</td>
                <td>{{myUser.department}}</td>
                <td><button class="btn btn-info">Edit</button><button class="btn btn-danger mx-3">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
