<p>user-form-list works!</p>
<div>
    <input type="search" name="" id="">
    <button routerLink="/user-forms/add">Add</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Gender</th>
                <th>Date Of Employment</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jigar</td>
                <td>Bhanushali</td>
                <td>ahs@gmail.com</td>
                <td>9876543211</td>
                <td>Male</td>
                <td>12/12/2001</td>
                <td>Angular</td>
                <td><button>Edit</button><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
