<div class="list_container">
    <div class="searchContainer">
        <input type="search" name="" id="">
        <button routerLink="/resume/resume-form" class="btn">Click to Add Resume</button>

    </div>
    <table class="Resume-list">
        <thead>
            <tr>
                <th class="table-cell">Id</th>
                <th class="table-cell">First Name</th>
                <th class="table-cell">Last Name</th>
                <th class="table-cell">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resumes of resumeDetailLists">
                <td class="table-cell">{{resumes.id}}</td>
                <td class="table-cell">{{resumes.firstName}}</td>
                <td class="table-cell">{{resumes.lastName}}</td>

                <td class="table-cell"><button class="btn btn-info btnSize"
                        (click)="viewResume(resumes.id)">view</button>
                    <button class="btn btn-danger" (click)="deleteResume(resumes.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
