.sidebar{
    display: flex;
    
    justify-content: center;
  
    text-align: center;
    
    li{
        color: #4ea1a6;
        padding: 1rem;
        list-style-type: none;
        .btn_sidenav{
            font-weight: 400;
            color: #2c4d53;
            background-color:  white;
            border: none;
            // border: 1px solid #8bb8d7;

            &.btn_sidenav_active{
               font-weight: 700;
               
            }
           &:hover{
               cursor: pointer;
            //    box-shadow: 10px 0 50px 10px #4ea1a6;
               
            &:active{
                color: #4ea1a6
            }
        }
        }
    }
}