<aside class="innerSidenav">


  <div class="sidebarHead ">
    <span class="icon-angular"></span>
    <h3 class="sidebarHeader">Angular Tasks</h3>
  </div>

  <nav class="sidebarBody" >
    <ul>
      <li>
        <button routerLink="/data-binding" class="btn_sidenav" routerLinkActive="btn_sidenav_active"> <span
            class="icon-database"></span> <span class="links"> Data-Binding</span> </button>
      </li>
      <li>
        <button routerLink="/directives" class="btn_sidenav" routerLinkActive="btn_sidenav_active"> <span
            class="icon-cogs"></span> <strong class="links"> Directives</strong> </button>
      </li>
      <li>
        <button routerLink="/forms" class="btn_sidenav" routerLinkActive="btn_sidenav_active"> <span
            class="icon-wpforms"></span> <strong class="links">Forms</strong> </button>
      </li>
      <li>
        <button class="btn_sidenav" routerLink="employee" routerLinkActive="btn_sidenav_active"> <span
            class="icon-user-tie"></span> <strong class="links">Employee</strong> </button>
      </li>
      <li>
        <button class="btn_sidenav" routerLink="user-forms" routerLinkActive="btn_sidenav_active"> <span
            class="icon-profile"></span> <strong class="links">User-Form</strong> </button>
      </li>
      <li>
        <button class="btn_sidenav" routerLink="resume" routerLinkActive="btn_sidenav_active"><span
            class="icon-resume-portfolio-svgrepo-com"></span> <strong class="links">Resume Builder</strong> </button>
      </li>
      <li>
        <button class="btn_sidenav" routerLink="Users" routerLinkActive="btn_sidenav_active"> <span
            class="icon-user"></span> <strong class="links">Users</strong> </button>
      </li>

    </ul>

  </nav>


</aside>