<aside class="sidenav">
  <ul>
    <li>
      <button routerLink="/data-binding" class="btn_sidenav"  routerLinkActive="btn_sidenav_active">Data-Binding</button>
    </li>
    <li>
      <button routerLink="/directives" class="btn_sidenav"  routerLinkActive="btn_sidenav_active">Directives</button>
    </li>
    <li>
      <button routerLink="/forms" class="btn_sidenav"  routerLinkActive="btn_sidenav_active">Forms</button>
    </li>
    <li>
      <button class="btn_sidenav" routerLink="employee" routerLinkActive="btn_sidenav_active">Employee</button>
    </li>
    <li>
      <button class="btn_sidenav" routerLink="resume" routerLinkActive="btn_sidenav_active">Resume Builder</button>
    </li>

  </ul>
</aside>