<div class="list_container">
    <div class="employeeFormHead " >
        <div>
            <h2>Users</h2>
        </div>


        <div class="d-flex searchContainer">
            

            <!-- toogle button to open form and disable when open -->
           
                <input type="search" name="" id=""><button routerLink="/employee/employee-form" class=" btnAddEmployee">Click to Add
                    Employee</button>
                <!-- <button type="button" class="btn addEmployee"
                    >+ NEW USER</button> -->
            
        </div>
    </div>

    <table class="userList ">
        <thead>
            <tr class="table_head">
                <th class="table-cell">Id</th>
                <th class="table-cell">First Name</th>
                <!-- <th class="table-cell">Last Name</th> -->
                <th class="table-cell">Email</th>
                <th class="table-cell">Phone No</th>
                <th class="table-cell">Gender</th>
                <th class="table-cell">Date Of Employment</th>
                <th class="table-cell">Department</th>
                <th class="table-cell">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeDetails">
                <td class="table-cell">{{employee.id}}</td>
                <td class="table-cell">{{employee.firstname +' '+ employee.lastname}}</td>
                <!-- <td class="table-cell">{{employee.lastname}}</td> -->
                <td class="table-cell">{{employee.email}}</td>
                <td class="table-cell">{{employee.phoneNo}}</td>
                <td class="table-cell">{{employee.gender}}</td>
                <td class="table-cell">{{employee.dateOfEmployment}}</td>
                <td class="table-cell">{{employee.department | idToName : departments}}</td>
                <td class="table-cell"><button class="btn btn-info btnSize"
                        (click)="editEmployee(employee.id)">Edit</button>
                    <button class="btn btn-danger " type="button" (click)="deleteEmployee(employee.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>