<div class="list_container">
    <div class="searchContainer">

        <input type="search" name="" id=""><button routerLink="/employee/employee-form" class="btn">Click to Add
            Employee</button>

    </div>
    <table class="employeeList">
        <thead>
            <tr>
                <th class="cellSpacing">Id</th>
                <th class="cellSpacing">First Name</th>
                <!-- <th class="cellSpacing">Last Name</th> -->
                <th class="cellSpacing">Email</th>
                <th class="cellSpacing">Phone No</th>
                <th class="cellSpacing">Gender</th>
                <th class="cellSpacing">Date Of Employment</th>
                <th class="cellSpacing">Department</th>
                <th class="cellSpacing">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeDetails">
                <td class="cellSpacing">{{employee.id}}</td>
                <td class="cellSpacing">{{employee.firstname +' '+ employee.lastname}}</td>
                <!-- <td class="cellSpacing">{{employee.lastname}}</td> -->
                <td class="cellSpacing">{{employee.email}}</td>
                <td class="cellSpacing">{{employee.phoneNo}}</td>
                <td class="cellSpacing">{{employee.gender}}</td>
                <td class="cellSpacing">{{employee.dateOfEmployment}}</td>
                <td class="cellSpacing">{{employee.department | idToName : departments}}</td>
                <td class="cellSpacing"><button class="btn btn-info btnSize"
                        (click)="editEmployee(employee.id)">Edit</button>
                    <button class="btn btn-danger " (click)="deleteEmployee(employee.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>