.form_container{
margin: .75rem;
padding: .7rem;
}

.firstName,.lastName,.email,.phoneNo,.technicalSkills,.experience,.education,.designation{
    display: flex;
   margin: 1rem;
    justify-content: space-between;
    
}
.additionalSkills{
margin: 1rem;
}
.flex-column{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    
}