.wrapper {
  height: 100%;
  position: relative;
  display: flex;

  label {
    position: absolute;
    left: 23px;
    top: 17px;
    z-index: 1000;
  }
  #toogleCheckBox {
    display: none;
  }







  .sidenav {
    flex: 0 0 250px;
    transition: 00.6s all;
    background-color: white;
    overflow: hidden;    
    white-space: nowrap;
   

  }
  .main {
    flex-grow: 1;
    background-color: #f7f8fa;
  }
}


