:host {
    height: 100%;
    width: 100%;
}

.border{
    border: solid;
}
.d-flex{
    display: flex;

}
.main-display{
    border: 1px solid black;
    flex-grow: 1;
}
.sidenav{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
/* .footer{
    border: 1px solid black
} */