.form_container{
    margin: .75rem;
    padding: .75rem;
}
* {
    /* vertical-align: top; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    border-top: 5px solid #505050;
    border-bottom: 5px solid #505050;
    background-color: #f5f5f5;
    padding-left: 5%;
    padding-right: 5%;
    width: 1000px;
    /* margin-top: 30px; */
  
     

}

table {
    width: 100%;
    border-collapse: collapse;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Source Serif Pro', serif;
    
    text-align: left;
}
.sections{
   margin: 30px;
   vertical-align: top;
   padding: 30px 0;
}
/* .title{
     padding: 30px 0;
   
} */