/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
}
*{  font-size: 1.125rem;
    margin: 0;
    padding: 0;
}
body{
     overflow: hidden;
}

.cellSpacing{
    padding:.25rem;
}